<div class="">

</div>
<div class="col-md-4 cart-tile">
  <div class="col-xs-3">
    <img class="cart-image" src="{{purchase.item.image}}" />
  </div>
  <div class="col-xs-7 product-description">
    <div class="">
      <h1>{{purchase.item.name}}</h1>
      <p>
        {{purchase.item.description}}
      </p>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="purchase-qty">
      Quantity: {{purchase.quantity}}
      Total Price: {{purchaseTotal}}
    </div>
    <div class="cart-price">
      Unit Price: {{purchase.item.price}}/each

    </div>

    <div class="in-cart-button">
      <button class="btn btn-primary" {{action 'remove' item}}>Remove from Cart</button>
    </div>
  </div>




</div>
