<!-- tile -->
<div class="col-md-4 product-tile" style="background-image:url({{product.image}})" data-toggle="modal" data-target="#{{product.id}}">
  <h1>{{product.name}}</h1>
</div>


<!-- modal -->
<div class="modal fade" id="{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="myModalLabel">{{product.name}}</h1>
      </div>
      <div class="modal-picture">
        <img src="{{product.image}}" />
      </div>
      <div class="modal-body">
        <div class="product-description">
          <h3><strong>Description:</strong> {{product.description}}</h3>
          <h3><strong>Price:</strong> {{product.price}}</h3>
        </div>
      </div>
      <div class="modal-footer">
        <div class="float-left">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        <form>
          <div class="input-group qty-group">
            {{input type="number" id="" min="1" class="form-control product-qty" required="true" aria-describedby="basic-addon2"}}
            <span class="input-group-btn">
              <button class="btn btn-primary" {{action 'add' product}} data-dismiss="modal">Add to Cart</button>
            </span>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>
