<div class="col-md-4 product-tile" style="background-image:url({{product.image}})">
  <h1>{{product.name}}</h1>
  <div class="product-description">
    Description: {{product.description}}<br>
    Price: {{product.price}}
  </div>
  <div class="cart-button">
    <button class="btn btn-primary" {{action 'add' product}}>Add to Cart</button>
  </div>

</div>
